.gradle/
.idea/
.vscode/
build/
out/
dist/
local.properties
lint.xml
*.hprof
*.out
*.log
node_modules/
*.tgz
*.js
*.d.ts
*.map
.commit

application.env/application.env-npm/.yarn/*
!application.env/application.env-npm/.yarn/releases
!application.env/application.env-npm/.yarn/plugins
!application.env/application.env-npm/.yarn/sdks
!application.env/application.env-npm/.yarn/versions
.pnp.*
